[tool.poetry]
name = "ascii-art-cli"
version = "0.1.7"
description = "ASCII art generator with multiple customization parameters"
authors = ["Dawson Booth <pypi@dawsonbooth.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/dawsonbooth/ascii-art"
repository = "https://github.com/dawsonbooth/ascii-art"
keywords = ["cli", "console", "ascii", "art", "font", "image"]
classifiers = [
    "Environment :: Console",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
include = [
    "LICENSE",
]

[tool.poetry.scripts]
ascii-art = 'ascii_art_cli:main'

[tool.poetry.dependencies]
python = "^3.4"
pillow = "^6.2.1"

[tool.poetry.dev-dependencies]
pytest = "^5.3.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
